input::placeholder {
  color: #85807e !important;
  font-family: Domine !important;
  font-weight: 600 !important;
}

input {
  font-family: Domine !important;
  font-weight: 600 !important;
}
#amp path {
  fill: white !important;
}
*:focus {
  outline: none !important;
}
